@model MdlTurma;

@{
	ViewData["Title"] = "Cadastrar";
}

<link rel="stylesheet" href="~/css/style/CreateTurmas.css" />

<div class="accountContainer col-lg-5 col-10 d-flex flex-column justify-content-center align-items-center shadow">
	<form class="formInputs col-12 d-flex flex-column justify-content-center align-items-center"
		  asp-controller="Turmas" asp-action="CreateTurmas" method="post" role="form">
		<div data-aos="fade" class="jumbotron col-12 d-flex flex-column justify-content-center align-items-center">
			<span><img src="~/css/images/turmas.png" class="img-fluid iconMenu" /></span>
			<h1>TURMA</h1>
		</div>
		<div class="form-group col-12">
			<label asp-for="@Model.Nome" class="control-label"></label>
			<input asp-for="@Model.Nome" class="form-control" placeholder="Digite o nome da escola" />
			<span asp-validation-for="@Model.Nome" class="text-danger"
				  data-aos-duration="500"></span>
		</div>
		<div class="form-group col-12">
			<label asp-for="@Model.Fk_Escola_Id" class="control-label"></label>
			<select asp-for="@Model.Fk_Escola_Id" asp-items="ViewBag.Escolas" class="form-select">
			</select>
			<span asp-validation-for="@Model.Fk_Escola_Id" class="text-danger"
				  data-aos="fade" data-aos-duration="500"></span>
			@if (ViewBag.Mensagem != null)
			{
			<h5 class="mt-2 text-start">@ViewBag.Mensagem</h5>
			}
		</div>
		<div class="botaoArea col-12 d-flex flex-row justify-content-evenly align-items-center mt-2 mb-3">
			<button type="submit" class="btn botaoCriar col-lg-3 col-5 mt-3">
				Cadastrar
			</button>
			<a asp-controller="Turmas" asp-action="ListTurmas" class="btn botaoVoltar col-lg-3 col-5 mt-3">
				Voltar
			</a>
		</div>
		@if (TempData["Mensagem"] != null)
		{

			<div id="animateMsg" class="col-12 mt-2 alert alert-danger text-center alert-dismissible fade show" role="alert">
				<strong>@TempData["Mensagem"]</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>

		}
	</form>
</div>