@model ViewModelProfessorTurma;

@{
	ViewData["Title"] = "Detalhes";
}

<link rel="stylesheet" href="~/css/style/GetProfessoresId.css" />

<div class="contentDetails col-11 d-flex flex-column justify-content-center align-items-center">
	<div class="col-12 d-flex flex-lg-row justify-content-lg-evenly
		flex-column justify-content-evenly align-items-stretch">
		<div class="card col-lg-3 col-12">
			<div class="card-header text-center">
				<h3>Professor</h3>
			</div>
			<div class="card-body d-flex flex-column justify-content-center align-items-center">
				<span><h4 class="text-center">@Model._mdlProfessor.Nome @Model._mdlProfessor.Sobrenome</h4></span>
				<span class="mt-2"><h4>Cref: @Model._mdlProfessor.Cref</h4></span>
			</div>
			<div class="card-footer d-flex justify-content-evenly">
				<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"></path>
					</svg>
					Remover
				</button>
				<a asp-controller="Professor" asp-action="ListProfessores" class="btn btn-outline-primary">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
					</svg>
					Voltar
				</a>
			</div>
		</div>
		<div class="card col-lg-8 col-12">
			<div class="card-header d-flex justify-content-center">
				<h3>ATRIBUIÇÕES</h3>
			</div>
			<div class="card-body d-flex flex-column justify-content-evenly align-items-center">
				@if (Model._professorTurmaList.Count() == 0)
				{
					<span><h4>Sem atribuições</h4></span>
				}
				else
				{
					<div class="table-responsive py3 col-11">
						<table id="tabela-jquery" class="table">
							<thead>
								<tr>
									<th scope="col"><h3>Nome</h3></th>
									<th scope="col" class="text-center"><h3>Logradouro</h3></th>
									<th scope="col" class="text-center"><h3>Cidade</h3></th>
									<th scope="col" class="text-center"><h3>Turma</h3></th>
								</tr>
							</thead>
							<tbody>
									@foreach (var idx in Model._professorTurmaList)
									{
									<tr>
										<td><h4>@idx.Turma.Escola.Nome</h4></td>
										<td><h4 class="text-center">@idx.Turma.Escola.Logradouro</h4></td>
										<td><h4 class="text-center">@idx.Turma.Escola.Cidade</h4></td>
										<td><h4 class="text-center">@idx.Turma.Nome</h4></td>
									</tr>
									}
							</tbody>
						</table>
					</div>
				}
			</div>
			<div class="card-footer d-flex justify-content-evenly">
				<a asp-controller="Professor" asp-action="AdcionarTurma" asp-route-id="@Model._mdlProfessor.Id" class="btn btn-outline-primary">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
					</svg>
					Adcionar turma
				</a>
				<a asp-controller="Professor" asp-action="RemoverTurma" asp-route-id="@Model._mdlProfessor.Id" class="btn btn-outline-primary">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"></path>
					</svg>
					Remover turma
				</a>
			</div>
		</div>
	</div>
</div>

<partial name="_Modal" />